
@for $i from 1 through 24 {
  .col-span-#{$i} {
    width: $i / 24 * 100 * 1%;
  } 
}

@each $prop in span, offset, pull, push {
  @for $i from 1 through 24 {
    @if $prop == span {
      .col-#{$i} {
        width: $i / 24 * 100 * 1%;
      }
    } @else if $prop == offset {
      .col-offset-#{$i} {
        margin-left: $i / 24 * 100 * 1%;
      }
    } @else if $prop == push {
      .col-#{$prop}-#{$i} {
        position: relative;
        left: $i / 24 * 100 * 1%;
      }
    } @else {
      .col-#{$prop}-#{$i} {
        position: relative;
       left: -#{$i / 24 * 100%};
      }
    }
  }
}

$size-xl: 1920px;
$size-lg: 1200px;
$size-md: 992px;
$size-sm: 768px;

@each $size in xl, lg, md, sm, xs {
  @if $size == xs {
    @media only screen and (max-width: $size-sm) {
      @for $i from 1 to 24 {
        width: $i / 24 * 100 * 1%;
      }  
    }
  } @else {
    @media only screen and (min-width: $size) {
      @for $i from 1 to 24 {
        width: $i / 24 * 100 * 1%;
      }  
    }
  }
}



