
.message-fade-enter, .message-fade-leave-to {
  margin-top: -16px;
  opacity: 0;
}

.message-fade-enter-to, .message-fade-leave {
  margin-top: 0;
  opacity: 0.7;
}

.message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 20px;
  min-width: 320px;
  background: #fff;
  font-size: 14px;
  border-radius: 2px;
  transition: all 0.5s;

  &.has-close {
    .message-content {
      padding-right: 20px;
    }
  }

  .icon-close {
    position: absolute;
    top: 4px;
    right: 20px;
    color: #bbb;
    font-size: 16px;
    height: 16px;
    display: block;
    cursor: pointer;
  }

  .message-content {
    padding-right: 0px;
  }
  
}

.message-info {
  background: #e2ebf8;
  color: #555;
}

.message-warn {
  background: #fcdeb2;
  color: #f3a246;
}

.message-success {
  background: #c4f8bd;
  color: #37a029;
}

.message-error {
  background: #fcd2d1;
  color: #f56946;
}

.is-align-center {
  text-align: center;
}


