
.row {
  display: flex;
  flex-wrap: wrap;
}

@each $justify in center, end, space-between, space-around {
  .is-justify-#{$justify} {
    justify-content: #{$justify};
    // justify-content: $justify;
  }
}

@each $align in middle, bottom {
  @if $align == middle {
    .is-align-#{$align} {
      align-items: center;
    }
  }
  @if $align == bottom {
    .is-align-#{$align} {
      align-items: flex-end;
    }
  }
}