html, body {
  height: 100%;
  overflow: auto;
}

#app {
  height: 100%;
  // overflow: auto;
}

.main-width {
  width: 1080px;
}

.loading-parent--relative {
  position: relative!important;
}

.loading-parent--hidden {
  overflow: hidden!important;
}